body {
    margin: 0;
    font-family: 'Russo One', sans-serif;
    background-color: rgb(33, 33, 33);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    background-color: rgb(122, 0, 209);
    padding: 20px;
    font-size: 24px;
}